html {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

main {
  padding-top: 193px;
}

.c-post {
  img {
    width: 100%;
    height: auto;
  }
}